
<div id="build_severals" class="hidden">
  <div class="popupContainer">
    <a  class="closePopup" title="close popup"></a>

    <h2>Contruye tus  distritos</h2>
    <div id="build_severals_container">
 <% district_list = current_user.player.district_to_construct  %>
    <% if district_list.length > 0 %>
        <%= form_tag form_action 'build_severals' do %>
            <% district_list.each do |card|%>
                 <span class="image-checkbox-container">
                <%= check_box_tag 'cards[]', card.id %>
                 <%= (render :partial => 'district_card', :object => card)  %>

                </span>
            <% end %>
            <div id="submit">
                <%= submit_tag  'Construir' %>
            </div>

        <% end %>
        <script type="text/javascript">
            build_severals(<%= current_user.player.coins %> , <%= district_hash(district_list).to_json.html_safe %>);
        </script>


     <% else %>
        <h3> No puedes construir en este turno</h3>
    <%end %>
  </div>
   </div>
</div>
