<%= form_tag form_action('change_cards','change_with_player') do %>


  <% current_user.player.opponents.each do |opponent|  %>

         <div class="image-radio-container">
           <%= radio_button_tag 'opponent[]', opponent.id %>

             <%= character_img opponent %>



       <div><%= opponent.name %></div>


        </div>


  <%end%>
<div id="submit">
<%= submit_tag  "Cambiar" %>
</div>
<%end%>



<script type="text/javascript">

    $('.image-radio-container div').on('click', function(){




        if($(this).prev('input[type="radio"]').prop('checked')){

        }else{

            $('.image-radio-container input:radio:checked').prop('checked', false).each(function(){

                //$(this).removeAttr('checked');
                $(this).siblings('img').each(function(){
                    $(this).css({
                            border: '0px',
                            margin: '4px'
                    })
                });


            });

            $(this).prev('input[type="radio"]').prop('checked', true).attr('checked','checked');
            //this.style.border = '4px solid #38A';
            $(this).css({
                border: '4px solid #38A',
                margin: '0px'
            });
        }
    });


</script>