<div class="action_info_tabs"><%=(t 'board.select_severals_cards') %></div>
<%= form_tag form_action('change_cards','change_with_maze') do %>
      <div class="container_cards_pop">
            <% current_user.player.districts_on_hand.includes(:base_card).each do |card|%>
                <span class="image-checkbox-container">
                <%= check_box_tag 'cards[]', card.id %>

                  <%= (render :partial => 'select_district_card', :object => card)  %>
                </span>
                <% end %>
      </div>
    <div id="submid">
<%= submit_tag  (t 'board.change') %>
    </div>

<% end %>

<script type="text/javascript">
  var checkboxes =  $('#change_cards').find('.card_select');
  checkboxes.css({'border':'solid 4px transparent'});
  checkboxes.on('click', function(){

        if(!$(this).prev('input[type="checkbox"]').prop('checked')){
            $(this).prev('input[type="checkbox"]').prop('checked', true).attr('checked','checked');
            this.style.border = '4px solid #38A';

        }else{
            $(this).prev('input[type="checkbox"]').prop('checked', false).removeAttr('checked');
            this.style.border = 'solid 4px transparent';
        }
    });
</script>