<div class="action_info_tabs"><%=(t 'board.select_player') %></div>
<%= form_tag form_action('change_cards','change_with_player') do %>
    <div class="container_cards_pop">
    <% current_user.player.opponents.each do |opponent|  %>

         <div class="image-radio-container">
           <%= radio_button_tag 'opponent[]', opponent.id %>

           <%if   %w(ACTION TURN WAITINGENDROUND).include?(opponent.state)%>

              <div class="change_player_content">
                <div class="select_char" id="<%= #noinspection RubyResolve
                                                opponent.player_character.base_card.name%>_select" >

                   <div class="player_name_popup"><%= #noinspection RubyResolve
                                            opponent.name.capitalize  %>
                   </div>
                </div>
                 <div class="faceback_cards">
                        <%  num_cards = opponent.districts_on_hand.size
                        while num_cards > 0%>
                             <%= image_tag 'cards/cardback.png', :class => 'card_over' %>
                             <% num_cards -= 1
                        end%>
                 </div>

              </div>
               <% else %>

               <div class="change_player_content">
                    <div class="select_char" id="nochar_select">
                        <div class="player_name_popup"><%= #noinspection RubyResolve
                                        opponent.name.capitalize %>
                         </div>
                    </div>
                 <div class="faceback_cards">
                   <%  num_cards = opponent.districts_on_hand.size
                       while num_cards > 0%>
                       <%= image_tag 'cards/cardback.png', :class => 'card_over'  %>
                   <% num_cards -= 1
                      end%>
                 </div>
               </div>
           <%end%>
         </div>


  <%end%>
 </div>
<div id="submit">
<%= submit_tag  (t 'board.change') %>
</div>
<%end%>



<script type="text/javascript">

   // $('.container_cards_pop').jScrollPane({autoReinitialise: true});

    var auxi;
    $('.image-radio-container').on('click', function(){
        auxi = this;

        if($(this).children('input[type="radio"]').prop('checked')){

        }else{

            $('.image-radio-container input:radio:checked').prop('checked', false).each(function(){
                console.log(this);
                //$(this).removeAttr('checked');
                $(this).parent('.image-radio-container').each(function(){
                    console.log(this);
                    $(this).css({
                            border: '0px',
                            margin: '4px'
                    })
                });
            });

            $(this).children('input[type="radio"]').prop('checked', true).attr('checked','checked');
            //this.style.border = '4px solid #38A';
            $(this).css({
                border: '4px solid #38A',
                margin: '0px'
            });
        }
    });


</script>