

<table border="1">
  <tr><th>Destruir</th></tr>
<% @game.players_to_destroy.each do |player| %>

              <tr>

                <td rowspan="3">

                  <%= render :partial => 'character_card', :object => player.player_character %>

                </td>

                <td><%= player.name %></td>

                <% cards = current_user.player.get_destrutible_building(player)
                   cards.each do |district_card|

                     if district_card.state == 'ONGAME' %>

                        <td rowspan="3">

     <%= link_to (render :partial => 'district_card', :object => district_card),
                 party_action_path(@game.id, [action.id, district_card.id]) %>
                         </td>

                    <% end%>

                <% end%>

              </tr>
              <tr><td>Oro: <%= player.coins %></td></tr>
              <tr><td>Puntos: <%= count_points player.recount %></td></tr>


              <tr>
               <td></td>
                <td>Coste</td>
              <% cards.each do |card| %>
                 <td ><%= card.base_card.cost %></td>
                <%end%>
                </tr>

          <%end%>



</table>
