


<div  id="ficha_jugador" class="player_lane">
  <div id="char">

    <% if (character_ui = current_user.player.player_character) %>
        <%= render :partial => 'character_ui', :object => character_ui %>

    <% else%>
        <div class="character_ui" id="nochar_ui"></div>
    <%end%>

  </div>
  <div class="data_user" id="golds">
    <div class="value"> <%= current_user.player.coins %></div>
  </div>
  <div class="data_user" id="points">
    <div class="value"><%= current_user.player.districts_on_game.length%></div>
  </div>

</div>




<div id="distritos_construidos" class="player_lane">
  <div class="card_container">
  <% current_user.player.districts_on_game.each do |district_card|%>

      <%= render :partial => 'district_card', :object => district_card %>

  <% end %>
  </div>
</div>


<div id="cartas_mano" class="player_lane">
<div class="card_container">
  <% current_user.player.districts_on_hand.each do |district_card|%>

        <%= render :partial => 'district_card', :object => district_card %>
  <% end %>
</div>

</div>

<%= render :partial => 'action_icons' %>


<%if current_user.player.state == 'ACTION'%>


  <%= link_to 'finalizar turno', end_turn_path, :id=> 'finturno' %>

<%end%>

<script type="text/javascript">

   var multiplier = 76;
   var num_cards = $('#distritos_construidos .card').size();
   // card_width = $('#distritos_construidos .card').css('width');
   // multiplier = parseInt(card_width.substring(0, card_width.length));


  $('#distritos_construidos .card_container').css('width',(num_cards * multiplier) + (num_cards * 5)) ;

    num_cards = $('#cartas_mano .card').size();
  //  card_width = $('#cartas_mano .card').css('width');
   // multiplier = parseInt(card_width.substring(0, card_width.length - 2));
    $('#cartas_mano .card_container').css('width',(num_cards * multiplier) + (num_cards * 5));


            $('#distritos_construidos, #cartas_mano, #lista_jugadores').jScrollPane({

                });


</script>
