


<div  id="ficha_jugador" class="player_lane">
  <div id="char">

    <% if (character_card = current_user.player.player_character) %>
        <%= render :partial => 'character_card', :object => character_card %>

    <% else%>
        <div class="card" id="cardback"></div>
    <%end%>

  </div>

  <div class="data_user" id="points">
   <div class="title"><%= t 'board.points' %></div>
   <div class="value"><%= count_points current_user.player.recount %></div>

  </div>
  <div class="data_user" id="golds">
    <div class="title"><%= t 'board.coins' %></div>
     <div class="value"> <%= current_user.player.coins %></div>
  </div>
</div>




<div id="distritos_construidos" class="player_lane">
  <div class="card_container">
  <% current_user.player.districts_on_game.each do |district_card|%>

      <%= render :partial => 'district_card', :object => district_card %>

  <% end %>
  </div>
</div>


<div id="cartas_mano" class="player_lane">
<div class="card_container">
  <% current_user.player.districts_on_hand.each do |district_card|%>

        <%= render :partial => 'district_card', :object => district_card %>
  <% end %>
</div>

</div>

<%= render :partial => 'action_icons' %>


<%if current_user.player.state == 'ACTION'%>

<div id="finturno">
  <h2><%= link_to 'finalizar turno', end_turn_path %></h2>
</div>
<%end%>

<script type="text/javascript">

    multiplier = 75;
    num_cards = $('#distritos_construidos .card').size();
   // card_width = $('#distritos_construidos .card').css('width');
   // multiplier = parseInt(card_width.substring(0, card_width.length));


  $('#distritos_construidos .card_container').css('width',(num_cards * multiplier) + (num_cards * 5)) ;

    num_cards = $('#cartas_mano .card').size();
  //  card_width = $('#cartas_mano .card').css('width');
   // multiplier = parseInt(card_width.substring(0, card_width.length - 2));
    $('#cartas_mano .card_container').css('width',(num_cards * multiplier) + (num_cards * 5));


            $('#distritos_construidos, #cartas_mano').jScrollPane({
         autoReinitialise: true
                });


</script>
