<div  id="ficha_jugador" class="player_lane">
  <div id="char">

    <div id="messages_icon"></div>

    <% if (character_ui = current_user.player.player_character) %>
        <%= render :partial => 'character_ui', :object => character_ui %>

    <% else%>
        <div class="character_ui" id="nochar_ui"></div>
    <%end%>

  </div>
  <div class="data_user" id="golds">
    <div class="value no_prompt"> <%= current_user.player.coins %></div>
  </div>
  <div class="data_user" id="points">
    <div class="value no_prompt"><%= current_user.player.districts_on_game.length%></div>
  </div>

</div>




<div id="distritos_construidos" class="player_lane">
  <div class="card_container">
  <% current_user.player.districts_on_game_for_view.each do |district_card|%>

      <%= render :partial => 'district_card', :object => district_card %>

  <% end %>
  </div>
</div>


<div id="cartas_mano" class="player_lane">
<div class="card_container">
  <% current_user.player.districts_on_hand_for_view.each do |district_card|%>

        <%= render :partial => 'district_card', :object => district_card %>
  <% end %>
</div>

</div>

<%= render :partial => 'action_icons' %>


<%if current_user.player.state == 'ACTION'%>

  <div id="finturno">

   <div>
  <%= link_to (t 'board.finish'), end_turn_path %>
</div>

  </div>
<%end%>




<script type="text/javascript">

    var distrcts = $('#distritos_construidos');
    var multiplier = 76;

   var num_cards = distrcts.find('.card').size();
   // card_width = $('#distritos_construidos .card').css('width');
   // multiplier = parseInt(card_width.substring(0, card_width.length));


    distrcts.find('.card_container').css('width',(num_cards * multiplier) + (num_cards * 5)) ;

    var cards = $('#cartas_mano');
    num_cards = cards.find('.card').size();
  //  card_width = $('#cartas_mano .card').css('width');
   // multiplier = parseInt(card_width.substring(0, card_width.length - 2));
    cards.find('.card_container').css('width',(num_cards * multiplier) + (num_cards * 5));


            $('#distritos_construidos, #cartas_mano, #lista_jugadores').jScrollPane({

                });
     //activamos todos los scrollbars.


</script>
