<h3>Oponentes</h3>


<% oppenents =    current_user.player.opponents
   oppenents.each do |opponent|  %>
 <div class="opponent">
   <div id="opponent_iu">

     <div id="oppent_char">

       <%= character_img opponent %>

     </div>

     <div class="data_opponent" id="name">
        <%= (t 'name');%>:
         <%=   opponent.name %>
     </div>
     <div class="data_opponent" id="points">
       <%= t 'points' %>:
       <%= count_points opponent.recount %>
     </div>
     <div class="data_opponent" id="cards">
       <%= t 'coins' %>:
       <%= opponent.coins %>
     </div>




   </div>
   <div id="opponent_cards">
       <% cards = opponent.districts_on_game
          cards.each do |district_card|%>



            <%= render :partial => 'district_card', :object => district_card %>



       <% end%>

   </div>



 </div>
<%end%>




