<h3>Oponentes</h3>
<table border="1">

<% oppenents =    current_user.player.opponents
   oppenents.each do |opponent|  %>

      <tr>
        <td rowspan="4">

        <%= character_img opponent %>

        </td>

        <td><%= opponent.name %></td>




       <% cards = opponent.districts_on_game
          cards.each do |district_card|%>



            <td rowspan="4"><%= render :partial => 'district_card', :object => district_card %></td>



       <% end%>

      </tr>
      <tr><td>Oro: <%= opponent.coins %></td></tr>
      <tr><td>Puntos: <%= count_points opponent.recount() %></td></tr>
      <tr><td> Cartas: <%= opponent.districts_on_hand.count %></td></tr>





<%end%>


</table>

