<% if current_user.player.state == 'SELECTION_TURN'
session[:refresh] = false%>

    <div id="lista_personajes" class="hidden">
      <div class="popupContainer">
        <div class="popupContent">
          <% %w(characters_list  faceup).each_with_index do |option, index| %>
              <div class="tab_data">
                <div class="<%= selected_class('tab', index) %> no_prompt"><%= t ('board.' + option) %></div>
                <div class="<%= visible_class('cards', index) %> container_cards_pop">

                  <%= render :partial => option %>

                </div>
              </div>
          <% end %>
        </div>
      </div>
      <div class="overlayEffect">
      </div>
    </div>
    <script type="text/javascript">
        $('.container_cards_pop').jScrollPane({autoReinitialise: true});
        loadPopup("lista_personajes");
        tabs("lista_personajes");
    </script>


<% elsif current_user.player.state == 'TURN' %>


    <div id="acciones" class="hidden">

      <% action_list = current_user.player.actions
         session[:refresh] = false%>

      <div class="popupContainer">
        <div class="action_info"><%= action_title(action_list) %></div>
        <div class="popupContent">
         <% action_list.each do |action| %>
              <%= #noinspection RubyResolve
                  render :partial => action.base_action.partialname, :locals => {:action => action} %>
          <% end %>

        </div>
      </div>
      <div class="overlayEffect">
      </div>
    </div>

    <script type="text/javascript">
        loadPopup("acciones");
    </script>

<% elsif current_user.player.state == 'ACTION'
     session[:refresh] = false
     action_list = current_user.player.actions %>



    <% action_list.each do |action| %>
        <div class="actiondiv">
          <%= #noinspection RubyResolve
              render :partial => action.base_action.partialname, :locals => {:action => action} %>
        </div>

    <% end %>

<% end %>