
<%= form_tag form_action 'select_district' do %>
      <div class="container_cards_pop">
    <% @game.cards.where("state = 'SELECTABLE'").each do |card|%>
        <span class="image-checkbox-container">
        <%= check_box_tag 'cards[]', card.id %>
          <%#= label_tag 'cards[]', (t 'districts.' + card.base_card.name) %>
          <%= (render :partial => 'select_district_card', :object => card)  %>
        </span>
    <% end %>

      </div>
    <%= submit_tag  (t 'board.take_the_card') %>


<% end %>

<script type="text/javascript">
    $('.container_cards_pop').jScrollPane({autoReinitialise: true});
    $('.image-checkbox-container .card_select').css({'margin':'4px'});

  max_selection =  <%= current_user.player.card_to_take  %>

          $('.image-checkbox-container .card_select').on('click', function(){
             var  check = $(this).prev('input[type="checkbox"]');

              if(!check.attr("disabled")) {
                  if(!check.prop('checked') ){
                      check.prop('checked', true).attr('checked','checked');
                      this.style.border = '4px ridge  #38F';
                      this.style.margin = '0px';


                  }else{
                      check.prop('checked', false).removeAttr('checked');
                      this.style.border = '0';
                      this.style.margin = '4px';

                  }


                  var bol = $("input[type=checkbox][name='cards[]']:checked").length >= max_selection;
                      var unchecked_checks = $("input[type=checkbox][name='cards[]']").not(":checked");
                      unchecked_checks.attr("disabled",bol);
              }
          });

</script>
