<%#=  image_tag "cards/" + district_card.base_card.name.downcase + ".jpg", :title => (t district_card.base_card.name, :scope => 'districts') + district_card.id.to_s %>
<div class="card_select" >
  <%= #noinspection RubyResolve
      image_tag ('cards/' +  select_district_card.base_card.name.downcase + '.jpg') %>
<div class="card_text_elements">


  <div class="card_text_element">
    <div class="card_text_element_title">Nombre:</div>
    <div class="card_text_element_value"><%= district_name  select_district_card %></div>

  </div>

  <div class="card_text_element">
    <div class="card_text_element_title">Color:</div>
    <div class="card_text_element_value"><%= select_district_card.base_card.colour %></div>
  </div>


  <div class="card_text_element">
    <div class="card_text_element_title">Coste:</div>
    <div class="card_text_element_value"><%=   select_district_card.base_card.cost %></div>

  </div>

  <% #noinspection RubyResolve
     if select_district_card.base_card.colour == 'purple' %>
  <div class="card_text_element">
    <div class="card_text_element_title">Description:</div>
    <div class="card_text_element_value"><%= (t  'districts.' + select_district_card.base_card.name + '.description')  %></div>
  </div>
  <% end %>

</div>
</div>
