<h1><%= @game.name %></h1>

<table border="1">
  <th>Nombre</th>
  <th>Distritos</th>
  <th>Puntos</th>
  <th colspan="10">Cartas</th>
  <% @game.players.each do |player| %>
      <tr>
          <td><%= User.find(player.user_id).name %></td>
          <td><%=player.districts_on_game.count%> </td>
          <td><%= player.recount %></td>

        <% district_list = player.districts_on_game
           district_list.each do |card|%>
                     <td><%= image_tag "cards/" + card.base_card.name.downcase + ".jpg",  :title => card.base_card.name  %></td>


        <% end %>
     </tr>
 <% end  %>
</table>

<%= link_to 'Salir', party_leave_game_path(@game.id) %>