
<% content_for :head do%>


    <%= stylesheet_link_tag  'parties' %>


<%end%>

<div id="resumen_content">



  <%
      @game.players.order('points DESC').each do |opponent|  %>
      <div class="opponent">

        <div class="opponent_iu">

          <div class="oppent_char">

            <%= character_img opponent %>

          </div>

          <div id="final_points">
            <div class="value" title="<%= tooltip opponent.recount %>"> <%= count_points opponent.recount %></div>
          </div>

          <div class="data_opponent_final" id="points">

            <div class="value"> <%= opponent.coins%></div>
          </div>
          <div class="data_opponent_final" id="cards">

            <div class="value"> <%= opponent.districts_on_game.length%></div>
          </div>




        </div>
        <div class="opponent_cards">
          <% cards = opponent.districts_on_game
             cards.each do |district_card|%>



              <%= render :partial => 'district_card', :object => district_card %>



          <% end%>

        </div>



      </div>
  <%end%>






  <div id="leaveParty">
      <%=#noinspection RubyResolve
         link_to 'Salir', party_leave_game_path(@game.id) %>
  </div>





</div>