
<% content_for :head do%>
    <%= stylesheet_link_tag  'parties' %>
    <%= javascript_include_tag 'imagePreview', 'parties' %>
<%end%>



<div id="resumen_content">

  <% players = @game.players.order('position ASC') %>
  <h1> <%= t 'board.win_messages', :winner => players.first.user.name.capitalize %></h1>
  <%players.each do |opponent|
  opponent_districts = opponent.districts_on_game_for_view %>
      <div class="opponent">
        <div id="final_points">
          <div class="value" title="<%= tooltip(opponent.points_hash, opponent.points) %>"><%= opponent.points %></div>
        </div>
        <div class="opponent_ui">

          <div class="opponent_char">
            <%= character_img opponent %>
          </div>
          <div class="data_opponent" id="cards">
            <div class="value"> <%= opponent_districts.length%></div>
          </div>
          <div class="data_opponent" id="points">
            <div class="value"> <%= opponent.coins%></div>
          </div>

        </div>
        <div class="opponent_cards">
          <% opponent_districts.each do |district_card|%>
              <%= render :partial => 'district_card', :object => district_card %>
          <% end%>
        </div>
      </div>
  <%end%>

  <div id="leaveParty" onclick="window.location= '/parties/<%= @game.id %>/leave_game'">

       <div><%= (t 'resumen.exit') %></div>
  </div>
</div>

<script type="text/javascript">
    $('.player_name').each(function(){
        var textSize = $(this).textWidth();

        if ((textSize > 80) && (textSize <= 90)){
            $(this).css('font-size', 14);
        }else if (textSize > 90 && textSize <= 113){
            $(this).css('font-size', 12);
        }else if (textSize > 113 ){
            $(this).css('font-size', 10);

        }
    })


</script>




