
<% if @user.errors.any? %>
    <div class="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>
<%= form_for @user, :html =>{:class=> 'form-4'} do |f| %>
<h1><%= t 'new.title' %></h1>
<p></p>
<%= f.label :name %>
<%= f.text_field :name, :size => 40, :placeholder =>(t 'new.name'),:autocomplete => :off %>
    </p>

<p>
<%= f.label :email %>
<%= f.text_field :email, :size => 40,:placeholder =>(t 'new.email'),:autocomplete => :off %>
</p>



<p>
<%= f.label :password, 'Password' %>
<%= f.password_field :password, :size => 40, :placeholder =>(t 'new.password'),:autocomplete => :off %>
</p>

<p>
<%= f.label :password_confirmation, 'Confirm' %>
<%= f.password_field :password_confirmation, :size => 40, :placeholder => (t 'new.repeat_password'),:autocomplete => :off %>
</p>


<p>
<%= f.submit (t 'new.create_user')%>
</p>
    <%= link_to (t 'back'), root_path %>
<% end %>