<% content_for :head do %>


    <%= stylesheet_link_tag  'style', 'home', 'menu', 'polyglot-language-switcher'%>
    <%= javascript_include_tag 'menu', 'jquery.placeholder.min', 'jquery.polyglot.language.switcher' %>



<% end %>

<%= render 'shared/langs' %>

<% if flash[:notice] %>
    <div class="error_explanation"><h2><%= flash[:notice] %></h2></div>
<% end %>


<% if session[:user_id].nil? %>
    <%= form_tag 'login', :class => 'form-4' do %>

      <h1><%= t 'login_menu.login' %></h1>
      <p>
    <%=  label_tag 'email', (t 'login_menu.email') %>
    <%=  text_field_tag 'email',nil, {:placeholder => (t 'login_menu.email')} %>
      </p>
      <p>
    <%=  label_tag 'password', (t 'login_menu.password') %>
    <%=  password_field_tag 'password',nil, {:placeholder => (t 'login_menu.password')} %>
      </p>
      <p>
    <%= submit_tag (t 'login_menu.login_button')%>
      </p>




        <%= link_to (t 'login_menu.signup') , new_user_path%>
    <% end%>



   <%else%>
 <div id="menucontent">
     <ul id="menu">
       <%if current_user.waiting_room && current_user.player.nil?%>

           <li><%= link_to (t 'main_menu.play'), waiting_room_path(current_user.waiting_room_id) %></li>

       <% elsif current_user.player.nil? %>

      <li>
        <a href="#"><%= t 'main_menu.play' %></a>
        <ul>
          <li><%= link_to (t 'main_menu.search'), waiting_rooms_path  %></li>
          <li><%= link_to (t 'main_menu.create'), new_waiting_room_path  %></li>
        </ul>
      </li>

       <% elsif  current_user.player %>

           <li><%= link_to (t 'main_menu.play'), party_path(current_user.player.party.id) %></li>


      <% end %>



      <li><%= link_to (t 'main_menu.profile'), user_path(current_user) %></li>
      <li> <%= link_to (t 'main_menu.logout'), logout_path, :method => :delete %>    </li>

    </ul>




<% end %>


    </div>




<script type="text/javascript">
$('input, textarea').placeholder();

</script>