<% content_for :head do %>


    <%= stylesheet_link_tag  "style" , "home", "menu"%>
    <%= javascript_include_tag "menu", "jquery.placeholder.min" %>

<% end %>


<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>

<%= link_to 'Test', 'home/get_menu', :remote => 'true' %>
<% if session[:user_id].nil? %>
    <%= form_tag 'login', :class => 'form-4' do %>

      <h1><%= t 'login_menu.login' %></h1>
      <p>
    <%=  label_tag 'email', (t 'login_menu.email') %>
    <%=  text_field_tag 'email',nil, {:placeholder => (t 'login_menu.email')} %>
      </p>
      <p>
    <%=  label_tag 'password', (t 'login_menu.password') %>
    <%=  password_field_tag 'password',nil, {:placeholder => (t 'login_menu.password')} %>
      </p>
      <p>
    <%= submit_tag (t 'login_menu.login_button')%>
      </p>

    <%= link_to (t 'login_menu.signup') , new_user_path%>

    <% end

   else%>
 <div id="menucontent">
     <ul id="menu">
       <%if current_user.waiting_room && current_user.player.nil?%>

           <li><%= link_to "Jugar", waiting_room_path(current_user.waiting_room_id) %></li>

       <% elsif current_user.player.nil? %>

      <li>
        <a href="#">Jugar</a>
        <ul>
          <li><%= link_to "Buscar", waiting_rooms_path  %></li>
          <li><%= link_to "Crear", new_waiting_room_path  %></li>
        </ul>
      </li>

       <% elsif  current_user.player %>

           <li><%= link_to "Jugar", party_path(current_user.player.party.id) %></li>


      <% end %>



      <li><%= link_to "Perfil", user_path(current_user) %></li>
      <li> <%= link_to "Cerrar sesion", logout_path, :method => :delete %>    </li>

    </ul>




<% end %>


    </div>
<script type="text/javascript">
$('input, textarea').placeholder();

</script>