
<% content_for :head do%>

    <%= stylesheet_link_tag 'menu', 'parties', 'polyglot-language-switcher' %>
    <%= javascript_include_tag 'menu', 'jquery.jscrollpane', 'jquery.mousewheel', 'jquery.polyglot.language.switcher' %>

<% end %>


<%= render :partial => 'shared/langs' %>

<% if flash[:notice] %>
    <div class="error_explanation"><h2><%= flash[:notice] %></h2></div>
<% end %>

<div id="parties_content" xmlns="http://www.w3.org/1999/html">
  <h1><%= t 'index.available_games' %></h1>
  <div  style="width:550px;">
    <table  id="tblNeedsScrolling">

      <thead>
      <tr>
        <th><%= t 'index.game_name' %></th>
        <th><%= t 'index.num_players'  %></th>
        <th></th>

      </tr>
      </thead>
      <tbody>
      <% @rooms.each do |room|

      if room.users.count > 0 && room.visible %>

          <tr>
            <td> <%=  room.name %> </td>
            <td align="center"> <%= room.users.count  %>   (<%= room.user  %>)</td>



            <% if room.users.count <  room.user %>
                <td class="right_side"> <%= link_to (t 'index.join'), join_waiting_room_path(room.id)%></td>
            <% else %>
                <td class="right_side"> <%= t 'index.full_room' %> </td>
            <% end %>

          </tr>
      <% end
      end%>
      </tbody>

    </table>
  </div>
  <p>
    <%= link_to (t 'index.back'), root_path %>
</div>
