
<% content_for :head do%>

    <%= stylesheet_link_tag 'menu', 'waiting_rooms', 'polyglot-language-switcher','jquery.jscrollpane' %>
    <%= javascript_include_tag 'menu','parties', 'jquery.jscrollpane.js', 'jquery.polyglot.language.switcher' %>

<% end %>


<%= render :partial => 'shared/langs' %>



<div id="game_index_container">

  <div id="game_index_header">
  </div>
  <div id="game_index_form_character">
    <div id="game_index_form">


<div id="parties_content">
  <h1><%= t 'index.available_games' %></h1>
    <table  id="rooms_list">
      <tr>
        <th><%= t 'index.game_name' %></th>
        <th><%= t 'index.num_players'  %></th>
      </tr>
    </table>

  <div id="waiting_rooms_list">
    <div>
      <% @rooms.each do |room|

      if room.users.count > 0 && room.visible %>
          <div class="room_line">
            <div class="game_name"><%=  room.name %></div>
            <div class="users_number"><%= room.users.count  %>   (<%= room.user  %>)</div>
            <% if room.users.count <  room.user %>
                <div class="join"><button class="join_button" onclick="window.location.href='<%= join_waiting_room_path(room.id) %>'"><%= (t 'index.join') %></button>
                  <%#= link_to (t 'index.join'), join_waiting_room_path(room.id)%></div>
            <% else %>
                <div class="join"> <%= t 'index.full_room' %> </div>
            <% end %>
          </div>

      <% end
      end%>
    </div>
    </div>
  </div>
  <p>

    <button class="form_button" onclick="window.location.href='<%= root_path %>'"><%= (t 'index.back') %></button>

</div>
    <div id="game_index_character">
    </div>
    </div>

  </div>
</div>
<script type="text/javascript">
    $('#waiting_rooms_list').jScrollPane({ });

</script>