<% content_for :head do%>

    <%= stylesheet_link_tag   'style' , 'home', 'menu','waiting_rooms', 'polyglot-language-switcher' %>
    <%= javascript_include_tag 'jquery.polyglot.language.switcher' %>

<% end %>

<%= render 'shared/langs' %>




<div id="game_new_container">

  <div id="game_new_header">
  </div>
  <div id="game_new_form_character">
    <div id="game_new_form">


      <%= form_for @waiting_room, :html =>{:class=> 'form-4'} do |f| %>


    <h1><%= t 'new.create_game' %></h1>

      <%=  f.label 'name' %>
      <%=  f.text_field 'name', {:placeholder =>(t 'new.name')} %>


      <%=  f.label 'user' %>
      <%=  f.select 'user', Party::PLAYERS_ENABLE,{:prompt =>(t 'new.players')}%>

      <%= f.submit (t 'new.create')%>

<% end%>



      <button class="form_button" onclick="window.location.href='<%= root_path %>'"><%= (t 'back') %></button>

      <% if @waiting_room.errors.any? %>
          <div id="new_game_error_explanation">
            <%= t 'new.fields_with_erros' %>

            <% @waiting_room.errors.full_messages.each do |msg| %>
                <p>- <%= msg %></p>
            <% end %>

          </div>
      <% end %>

    </div>
    <div id="game_new_character">
    </div>


  </div>
</div>

<script type="text/javascript">



    $('select#waiting_room_user').change(function(){

        if ($(this).val() == ""){
            $(this).removeAttr('style');
        }else{
            $(this).css({
                "color": "black"
            });
            $(this).children(":selected").css({
                "color": "black"
            });
        }
    })

</script>
      
      
      
