<% content_for :head do %>

  <%= stylesheet_link_tag 'style' , 'menu','waiting_rooms', 'polyglot-language-switcher' %>
    <%= javascript_include_tag 'jquery.polyglot.language.switcher' %>


<%end%>
<%= render 'shared/langs' %>

<div id="waiting_room_container">

  <div id="waiting_room_header">
  </div>
  <div id="waiting_room_form_character">

    <div id='room_container'>
      <h1><%= @room.name %></h1>

      <div id="table_container">
        <%= render :partial => 'users_table' %>
      </div>


      <%#= link_to (t 'show.leave'), leave_waiting_room_path(@room.id), :class => 'button_room' %>

      <button class="form_button" onclick="window.location.href='<%= leave_waiting_room_path(@room.id) %>'"><%= (t 'show.leave')%></button>

      <% if @room.users.count == @room.user  && current_user.id == @room.owner_id%>
         <%#= link_to (t 'show.start'), start_waiting_room_path, :class => 'button_room'%>
          <button class="form_button" id="start" onclick="window.location.href='<%= start_waiting_room_path %>'"><%=(t 'show.start')%></button>

      <%end%>

    </div>

    <div id="waiting_room_character">
    </div>


  </div>
</div>

<script type="text/javascript">
/*
  $(document).ready(
           function(){
               setInterval(function(){
                   $.ajax({
                       url: "<%#= waiting_room_path(@room.id)%>",
                       type: "GET",
                       dataType: "script"
                   });
               }, 5000 );
           });*/
</script>
