<% content_for :head do %>

  <%= stylesheet_link_tag 'waiting_rooms', 'polyglot-language-switcher' %>
    <%= javascript_include_tag "jquery.polyglot.language.switcher" %>


<%end%>
<%= render 'shared/langs' %>

<div id='room_container'>
<h1><%= @room.name %></h1>
<div id="table_container">
<%= render :partial => 'users_table' %>
</div>
<%= link_to (t 'show.leave'), leave_waiting_room_path(@room.id), :class => 'button_room' %>


</div>

<script type="text/javascript">

   $(document).ready(
           function(){
               setInterval(function(){
                   $.ajax({
                       url: "<%= waiting_room_path(@room.id)%>",
                       type: "GET",
                       dataType: "script"
                   });
               }, 5000 );
           });



</script>
